<p>Schedule page</p>
<form>
    <input type="text" id="team">
    <input type="text" id="event">
    <button type="button" onclick="searchSchedule()">Search</button>
</form>
<script>
    async function searchSchedule() {
        const team = document.getElementById("team").value;
        const event = document.getElementById("event").value;
        try {
            const response = await fetch(document.URL, {
                method: "GET",
                headers: {
                    "team": team,
                    "event": event
                }
            });
        }
        catch (error) {
            console.error(error);
        }
    }
</script>

<table>
    <tr>
        <th>Match Number</th>
        <th>Blue 1</th>
        <th>Blue 2</th>
        <th>Blue 3</th>
        <th>Red 1</th>
        <th>Red 2</th>
        <th>Red 3</th>
    </tr>
</table>